<html>
	<head>
		<title>Admin</title>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="css/foundation/em.css" media="screen" type="text/css"/>
		<script src="js/jquery/jquery-2.1.3.js"></script>
		<script src="js/jscontroller/admin/adminjs.js"></script>
		<script src="js/foundation/modernizr.js"></script>
	</head>
	<body>
		<div align="right">
			<table>
				<tr>
					<td>
						<label id="user"><%= username %></label>
					</td>
					<td>
						<button onclick="logout()">logout</button>
					</td>
				</t>
			</table>
		</div>
		<ul class="tabs vertical" data-tab>
		  <li class="tab-title active"><a href="#panel11">เพิ่ม/ลด/แก้ไข พนักงาน</a></li>
		  <li class="tab-title"><a href="#panel21">ราคามัน</a></li>
		</ul>
		<div class="tabs-content">
			<div class="content active" id="panel11">
				<div align="left">
					<table>
						<tr aling="center">
							<td colspan="2">
								<h3>เพิ่มพนักงาน</h3>
							</td>
						</tr>
						<tr>
							<td>
								username:
							</td>
							<td>
								<input type="text" id="create_user_username" onchange="create_user_findbyuser()">
							</td>
						</tr>
						<tr>
							<td>
								password:
							</td>
							<td>
								<input type="password" id="create_user_password">
							</td>
						</tr>
						<tr>
							<td>
								name:
							</td>
							<td>
								<input type="text" id="create_user_name">
							</td>
						</tr>
						<tr>
							<td>
								tel:
							</td>
							<td>
								<input type="text" id="create_user_tel">
							</td>
						</tr>
						<tr>
							<td>
								address:
							</td>
							<td>
								<input type="text" id="create_user_address">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="radio" name="typegroup" value="employee" checked>พนักงาน
								<input type="radio" name="typegroup" value="customer">ลูกค้า
								<input type="radio" name="typegroup" value="admin">ผู้จัดการ
							</td>
						</tr>
						<tr align="center">
							<td colspan="2">
								<button type="button" onclick="create_user_buttonsave()">save</button>
								<button type="button" onclick="create_user_buttonclear()">clear</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="content" id="panel21">
				<div id="includedContent"></div>
			</div>
		</div>
		<script src="js/foundation/foundation.min.js"></script>
		<script>
		  	$(document).foundation();
		  	$(function(){
	     		$("#includedContent").load("/pricepotato"); 
	    	});
		</script>
	</body>
</html>