<html>
	<head>
		<title>Customer</title>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="css/foundation/em.css" media="screen" type="text/css"/>
		<script src="js/jquery/jquery-2.1.3.js"></script>
		<script src="js/foundation/modernizr.js"></script>
		<script src="js/jscontroller/cus/custojs.js"></script>
	</head>
	<body>
		<div align="right">
			<table>
				<tr>
					<td>
						<label id="user"><%= username %></label>
					</td>
					<td>
						<button onclick="logout()">logout</button>
					</td>
				</t>
			</table>
		</div>
		<ul class="tabs vertical" data-tab>
		  <li class="tab-title active"><a href="#panel11">รายการส่ง</a></li>
		  <!-- <li class="tab-title"><a href="#panel21">ราคามัน</a></li> -->
		</ul>
		<div class="tabs-content">
			<div class="content active" id="panel11">
				หน้าลูกค้ากำลังปรับปรุง
			</div>
		<!--
			<div class="content" id="panel21">
				<div id="includedContent"></div>
			</div>
		-->
		</div>
		<script src="js/foundation/foundation.min.js"></script>
		<script>
		  	$(document).foundation();
		  	/*
		  	$(function(){
	     		$("#includedContent").load("/pricepotato"); 
	    	});
			*/
		</script>
	</body>
</html>