<html>
	<head>
		<title>EM</title>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="css/foundation/em.css" media="screen" type="text/css"/>
		<link rel="stylesheet" href="css/em/em.css" media="screen" type="text/css"/>
		<script type="text/javascript" src="js/jquery/jquery-2.1.3.js"></script>
		<script type="text/javascript" src="js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.PrintArea.js"></script>
		<script type="text/javascript" src="js/foundation/modernizr.js"></script>
		<script type="text/javascript" src="js/jscontroller/em/initial.js"></script>
		<script type="text/javascript" src="js/jscontroller/em/emjs.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzBqqJvqHOvuXt9-PbgKjc0UNjPAJ2kJI"></script>
	</head>
	<body>
		<div align="right">
			<table>
				<tr>
					<td>
						<label id="user"><%= username %></label>
					</td>
					<td>
						<button onclick="logout()">logout</button>
					</td>
				</t>
			</table>
		</div>
		<dl class="tabs vertical" data-tab>
		  <dd class="active"><a href="#panel1">รับซื้อ</a></dd>
		  <dd><a href="#panel2">จัดส่ง</a></dd>
		  <dd><a href="#panel3">ข้อมูลคนขายมัน</a></dd>
		</dl>
		<div class="tabs-content vertical">
		  	<div class="content active" id="panel1">
			    <div id="billprint">
					<div align="center">
						<h2><b>บริษัท โชคยืนยงอุตสาหกรรม จำกัด</b></h2><br>
						100 ม.5 ต.โป้งแดง อ.ขามทะเลสอ จ.นครรราชสีมา 30280 โทร. 0-4476-1422-3 มือถือ: 08-6464-5600<br>
						<hr>
						<table width="100%">
							<tr>
								<td align="left">
									<h3>ใบชั่งน้ำหนักสินค้า</h3>
								</td>
								<td align="right" width="7%">
									<h3>
										เลขที่
									</h3>
								</td>
								<td width="15%">
									<input type="text" id="numbill" disabled>
								</td>
							</tr>
						</table>
						<table width="100%">
							<tr>
								<td width="7%">
									ทะเบียนรถ
								</td>
								<td width="20%">
									<input type="text" id="licencecar" placeholder="ทะเบียนรถ" disabled>
								</td>
							</tr>
							<tr>
								<td>
									ผู้ขาย 
								</td>
								<td>
									<input type="text" id="idforseller" size="8" placeholder="รหัสผู้ขาย" onchange="findidseller()">
								</td>
								<td>
									<input type="text" id="nameforseller" placeholder="ชื่อผู้ขาย" disabled>
								</td>
								<td width="7%">
									วันที่เข้า
								</td>
								<td width="12%">
									<input type="date" id="dateimport">
								</td><td width="7%">
									เวลาเข้า
								</td>
								<td width="12%">
									<input type="text" id="timeimport" placeholder="เวลาที่เข้า" disabled>
								</td>
							</tr>
							<tr>
								<td width="7%">
									 
								</td>
								<td width="7%">
									
								</td>
								<td>
									
								</td>
								<td>
									วันที่ออก
								</td>
								<td width="12%">
									<input type="date" id="dateexport">
								</td><td width="7%">
									เวลาออก
								</td>
								<td>
									<input type="text" id="timeexport" placeholder="เวลาที่ออก" disabled>
								</td>
							</tr>
						</table>
						<table width="100%" border="1">
							<tr>
								<td width="60%">
									<table widht="100%">
										<tr>
											<td width="12%">
												น้ำหนักรถเข้า
											</td>
											<td width="20%">
												<input type="text" size="8" id="w_in_car" onchange="calculatecar()" placeholder="น้ำหนักรถเข้า" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46  || event.charCode == 13'>
											</td>
											<td width="30%">
												กก.
											</td>
											<td width="12%">
												น้ำหนักรถออก
											</td>
											<td width="20%">
												<input type="text" size="8" id="w_out_car" onchange="calculatecar()" placeholder="น้ำหนักรถออก" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46  || event.charCode == 13'>
											</td>
											<td>
												กก.
											</td>
										</tr>
										<tr>
											<td>
												ราคาอ้างอิง
											</td>
											<td>
												<input type="text" size="8" id="pricerefer" placeholder="ราคาอ้างอิง" disabled>
											</td>
											<td>
												บาท
											</td>
											<td>
												%แป้งวัด
											</td>
											<td>
												<input type="text" size="8" id="percenbabymid" onchange="percenrulor()" placeholder="%แป้งวัด" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46 || event.charCode == 13'>
											</td>
										</tr>
										<tr>
											<td>
												คิดเป็น
											</td>
											<td>
												<input type="text" size="8" id="percencal" placeholder="%คิดเงิน" disabled>
											</td>
											<td>
												%
											</td>
											<td>
												ราคาซื้อ
											</td>
											<td>
												<input type="text" size="8" id="pricebuy" placeholder="ราคาซื้อ" disabled>
											</td>
											<td>
												บาท
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table width="100%">
										<tr>
											<td>
												น้ำหนักบรรทุก
											</td>
											<td align="right">
												<input type="text" id="w_car" disabled>
											</td>
											<td>
												กก.
											</td>
										</tr>
										<tr>
											<td>
												คิดเป็นเงิน
											</td>
											<td align="right">
												<input type="text" id="sumpricbuy" disabled>
											</td>
											<td>
												บาท
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%">
										<tr>
											<td>
												<div align="center">
													รวม
												</div>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table width="100%">
										<tr>
											<td>
												จำนวนเงินสุทธิ
											</td>
											<td align="right">
												<input type="text" id="sutsumpricebuy" disabled>
											</td>
											<td>
												บาท
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<br>
						หมายเหตุ
						<hr>
						<br><br>
					</div>
					<div>
						<table width="100%">
							<tr>
								<td>
									<div align="center">
										...................................................<br>
										ผู้ชั่งน้ำหนัก
									</div>
								</td>
								<td>
									<div align="center">
										...................................................<br>
										ผู้จ่ายเงิน
									</div>
								</td>
								<td>
									<div align="center">
										...................................................<br>
										ผู้รับเงิน
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div align="center">
					<br><br>
					<button onclick="savebill()">บันทึก</button>
					<button onclick="canclebill()">ยกเลิก</button>
					<button onclick="printbill()">พิมพ์</button>
				</div>
		  	</div>
			<div class="content" id="panel2">
		    	<div align="center">
		    		<h2><b>ใบส่งของไปยังโรงงาน</b></h2>
		    		<table width="100%">
		    			<tr>
		    				<td width="35%">
		    					<table width="100%">
		    						<tr>
		    							<td>
		    								<div align="right">
		    									ชื่อ-นามสกุล
		    								</div>
		    							</td>
		    							<td>
		    								<input type="text" id="namedriver" placeholder="ชื่อ-นามสกุล">
		    							</td>
		    							<td>

		    							</td>
		    						</tr>
		    						<tr>
		    							<td>
		    								<div align="right">
		    									ทะเบียนรถ
		    								</div>
		    							</td>
		    							<td>
		    								<input type="text" id="regiscarforsend" placeholder="ทะเบียนรถ">
		    							</td>
		    							<td>
		    								
		    							</td>
		    						</tr>
		    						<tr>
		    							<td>
		    								<div align="right">
		    									จะได้รับของวันที่
		    								</div>
		    							</td>
		    							<td>
		    								<input type="text" id="dayforsend" placeholder="จำนวนวันที่จะได้รับของ">
		    							</td>
		    							<td>
		    								วัน
		    							</td>
		    						</tr>
		    						<tr>
		    							<td>
		    								<div align="right">
		    									เลือกจุดเริ่มต้น
		    								</div>
		    							</td>
		    							<td>
		    								<input type="text" id="startpoi" placeholder="คลิกเพื่อเลือกพิกัด">
		    							</td>
		    							<td>
		    								<a href="#" onclick="setstartpoi()">click</a>
		    							</td>
		    						</tr>
		    						<tr>
		    							<td>
		    								<div align="right">
		    									เลือกจุดปลายทาง
		    								</div>
		    							</td>
		    							<td>
		    								<input type="text" id="stoptpoi" placeholder="คลิกเพื่อเลือกพิกัด">
		    							</td>
		    							<td>
		    								<a href="#" onclick="setstoptpoi()">click</a>
		    							</td>
		    						</tr>
		    						<tr>
		    							<td>
		    								<div align="right">
		    									ระยะทาง
		    								</div>
		    							</td>
		    							<td>
		    								<input type="text" id="waypoint" placeholder="ระยะทาง" disabled>
		    							</td>
		    							<td>
		    								KM
		    							</td>
		    						</tr>
		    						<tr>
		    							<td colspan="3">
		    								<div align="center">
		    									<br><br>
			    								<button onclick="savetran()">บันทึก</button>
			    								<button onclick="canclesend()">ยกเลิก</button>
			    							</div>
		    							</td>
		    						</tr>
		    					</table>
		    				</td>
		    				<td>
		    					<div style="height:573px; overflow:scroll">
		    						<div class="map" id="showmap" style="display:none">
						    			<div class="map" id="map-canvas"></div>
						    			<button id="buttonshowmap" onclick="openmap()">แสดงแผนที่</button>
						    			<button onclick="closemap()">ปิด</button>
						    		</div>
						    		<div id="showlistbill">
				    					<table width="100%">
				    						<thead>
					    						<tr>
					    							<th width="15%">
					    								<div align="center">
					    									เลขสั่งซื้อ
					    								</div>
					    							</th>
					    							<th>
					    								<div align="center">
					    									ชื่อผู้สั่ง
					    								</div>
					    							</th>
					    							<th>
					    								<div align="center">
					    									จำนวน
					    								</div>
					    							</th>
					    							<th>
					    								<div align="center">
					    									ราคา
					    								</div>
					    							</th>
					    							<th width="10%">
					    								<div align="center">
					    									เลือก
					    								</div>
					    							</th>
					    						</tr>
					    					</thead>
					    					<tbody>
					    						
					    					</tbody>
				    					</table>
				    				</div>
			    				</div>
		    				</td>
		    			</tr>
		    		</table>
		    	</div>
		 	</div>
		 	<div class="content" id="panel3">
		 		<div id="loaddatacarpotato"></div>
		 	</div>
		</div>
		<script src="js/foundation/foundation.min.js"></script>
		<script>
		 	$(document).foundation();
		</script>
	</body>
</html>