<html>
	<head>
		<title>LOGIN</title>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="js/jquery/jquery-2.1.3.js"></script>
		<link rel="stylesheet" href="css/login/reset.css">
    	<link rel="stylesheet" href="css/login/style.css" media="screen" type="text/css" />
    	<script src="js/jscontroller/login/index.js"></script>
    	<script src="js/jscontroller/login/loginjs.js"></script>
	</head>
	<body>
		<div class="wrap">
			<div class="avatar">
	      		<img src="img/login/login-icon.png">
			</div>
			<input type="text" id="username" placeholder="username" required>
			<div class="bar">
				<i></i>
			</div>
			<input type="password" id="passwords" placeholder="password" required>
			<a href="" class="forgot_link">forgot ?</a>
			<button onclick="login()">Sign in</button>
		</div>
	</body>
</html>