<html>
	<head>
		<title>Project</title>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="css/main/style.css" />
		<link rel="stylesheet" href="css/foundation/em.css" media="screen" type="text/css"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="css/em/em.css" media="screen" type="text/css"/>
		<script src="js/jquery/jquery-2.1.3.js"></script>
		<script type="text/javascript" src="js/jscontroller/main/jquery.easing-sooper.js"></script>
  		<script type="text/javascript" src="js/jscontroller/main/jquery.sooperfish.js"></script>
  		<script type="text/javascript" src="js/jscontroller/main/maincontroller.js"></script>
  		<script type="text/javascript" src="js/jscontroller/main/crrossdomain.js"></script>
  		<script src="js/jscontroller/login/loginjs.js"></script>
  		<script type="text/javascript" src="js/jscontroller/em/emjs.js"></script>
  		<script src="js/jscontroller/admin/adminjs.js"></script>
  		<script src="js/jscontroller/send/sendjs.js"></script>
  		<script src="js/jscontroller/seller/sellerjs.js"></script>
  		<script type="text/javascript" src="js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.PrintArea.js"></script>
		<script type="text/javascript" src="js/foundation/modernizr.js"></script>
		<script type="text/javascript" src="js/jscontroller/em/initial.js"></script>
		<script src="js/jscontroller/pricepotato/pricepotatojs.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzBqqJvqHOvuXt9-PbgKjc0UNjPAJ2kJI"></script>
  		<script type="text/javascript">
		    $(document).ready(function() {
		    	$('ul.sf-menu').sooperfish();
			});
		</script>
	</head>
	<body>
		<div id="main">
	    <div id="header">  		
	      <div id="banner">  
			<div id="banner_content">
			</div><!--close banner_content-->	
	      </div><!--close banner-->		
		  <div id="menubar">
	        <ul class="sf-menu" id="nav">
	          <li class="selected"><a href="/em">หน้าหลัก</a></li>
	          <li><a href="#">ข้อมูลหลัก</a>
	          	<ul>
	          		<li><a href="#" onclick="dataemployee()">ข้อมูลพนักงาน</a><li>
	          		<li><a href="#" onclick="datacustomer()">ข้อมูลลูกค้า</a><li>
	          	</ul>
	          </li>
	          <li><a href="#">ซื้อขาย</a>
			    <ul>
			      <li><a href="#" onclick="databuysell()">รับซื้อ</a></li>
			      <li><a href="#">ราคา</a>
			      	<ul>
				      <li><a href="#" onclick="pricepotato()">ราคาซื้อ</a></li>
				  	  <li><a href="#" onclick="loadpricesend()">ค่าจัดส่ง</a></li>
				  	  <li><a href="#" onclick="loadpriceforsell()">ราคาขาย</a></li>
					</ul>
			      </li>
				</ul>
			  </li>			
	          <li><a href="#">จัดส่ง</a>
				<ul>
				  <li><a href="#" onclick="fsendproduct()">จัดส่ง</a></li>
			      <li><a href="#" onclick="loadstatusproduct()">สถานะสินค้า</a></li>
				  </li>
				</ul>
			  </li>			
	          <li><a href="#">รายงาน</a>
	          	<ul>
	          		<li><a href="#" onclick="loadpriesell()">รายรับ</a></li>
	          		<li><a href="#" onclick="loadpricebuy()">รายจ่าย</a></li>
	          		<li><a href="#" onclick="loadreportstock()">สินค้าคงเหลือ</a></li>
	          	</ul>
	          </li>
	          <li><a href="#" onclick="loadcontact()">ติดต่อเรา</a></li>
	        </ul>
		  </div><!--close menubar-->
	      </div><!--close header-->
		  <div id="site_content">			
	        <div id="content">
	          <div id="contentsdata" class="content_item">
	          
			  </div><!--close content_item-->	
			  <div class="sidebar_container">   	  
			    <div class="sidebar">
	              	<div class="sidebar_item">
		                <h2>ออกจากระบบ</h2>
		                <table>
		                	<tr>
		                		<td>
		                			รหัสผู้ใช้:
		                		</td> 
		                		<td>
		                			<%= username%>
		                		</td>
		                	</tr>
		                	<tr>
		                		<td>
		                			<button onclick="logout()">LOGOUT</button>
		                		</td>
		                	</tr>
		                </table>
	              	</div><!--close sidebar_item--> 
	            </div><!--close sidebar-->     		 
	           </div><!--close sidebar_container-->	
	           <br style="clear:both;" />
	        </div><!--close content-->	
	      </div><!--close site_content-->	
	    <div id="footer">  
	        100 ม.5 ต.โป้งแดง อ.ขามทะเลสอ จ.นครรราชสีมา 30280 โทร. 0-4476-1422-3 มือถือ: 08-6464-5600
	    </div><!--close footer-->
	  	</div><!--close main-->
	</body>
</html>