<html>
	<head>
		<title>Pricepotato</title>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="js/jquery/jquery-2.1.3.js"></script>
		<script src="js/jscontroller/pricepotato/pricepotatojs.js"></script>
	</head>
	<body>
		<div align="center">
			<h1>ราคาหัวมันวันนี้</h1>
			<table width="50%">
				<tr>
					<td align="center" width="33.33%">
						เชื้อแป้ง
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						บาทต่อ กก.
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						30%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="30percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						29%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="29percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						28%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="28percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						27%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="27percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						26%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="26percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						25%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="25percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						24%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="24percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						23%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="23percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						22%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="22percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						21%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="21percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						20%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="20percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						19%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="19percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						18%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="18percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						17%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="17percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						16%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="16percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						15%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="15percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						14%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="14percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						13%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="13percen">
					</td>
				</tr>
				<tr>
					<td align="center" width="33.33%">
						12-1%
					</td>
					<td align="center" width="33.33%">
						ราคา
					</td>
					<td align="center" width="33.33%">
						<input type="text" id="12percen">
					</td>
				</tr>
			</table>
		</div>
		<div align="center">
			<br><br>
			<button onclick="save()">บันทึก</button>
			<button onclick="cleartext()">ยกเลิก</button>
		</div>
	</body>
</html>