<html>
	<head>
		<title>Seller</title>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="js/jscontroller/seller/sellerjs.js"></script>
	</head>
	<body>
		<div>
			<h3>ลูกค้า</h3>

		</div>
		<div>
			<table width="100%">
				<tr>
					<td align="right" width="10%">
						รัหสลูกค้า
					</td>
					<td width="2%">

					</td>
					<td>
						<input type="text" id="idseller" onchange="checkidseller()">
					</td>
				</tr>
				<tr>
					<td align="right" width="10%">
						ชื่อ-สกุล
					</td>
					<td width="2%">
						
					</td>
					<td>
						<input type="text" id="nameseller">
					</td>
				</tr>
				<tr>
					<td align="right" width="10%">
						ที่อยู่
					</td>
					<td width="2%">
						
					</td>
					<td>
						<textarea rows="10" cols="25" id="addressseller"></textarea>
					</td>
				</tr>
				<tr>
					<td align="right" width="10%">
						เบอร์โทร
					</td>
					<td width="2%">
						
					</td>
					<td>
						<input type="text" id="telseller" onchange="formattel()">
					</td>
				</tr>
				<tr>
					<td align="right" width="10%">
						ทะเบียนรถ
					</td>
					<td width="2%">
						
					</td>
					<td>
						<input type="text" id="registercarseller">
					</td>
				</tr>
				<tr>
				</tr>
				<tr>
					<td align="right" width="10%">
						
					</td>
					<td width="2%">

					</td>
					<td>
						<button onclick="save()">บันทึก</button>
						<button onclick="cleartext()">ยกเลิก</button>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>